<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="redpa2ya_mail_template_transport_builder" type="Redpa2ya\Rer\Plugin\Mail\Template\TransportBuilder" />
    </type>
</config>
